// Import fonts
@import 'fira_code';

// Global Variables
$padding_factor: 15px; 

// General Styles
body {
  min-height: 2048px;
}

h1, h2 {
  font-family: 'Fira Code Retina', sans-serif !important;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 13px;
}

// Presentation Styles
.presentation {
  font-family: 'Open Sans', sans-serif;
  color: #444;

  & > .row {
    margin-bottom: 0;
  }

  & > .p-title {
    color: white;
    text-shadow: 5px 5px 12px rgba(25, 25, 25, 0.8);
    background-image: url('../img/block-2-blur-3.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover cover;
    
    & > .c-1 {
      padding: (9 * $padding_factor) (10 * $padding_factor);
    }

    .title {
      font-family: 'Ubuntu', sans-serif !important;
      margin-bottom: 40px;

      span {
        display: block;
      }
    }

    .p-arrow-down {
      font-size: 32px;
      margin-bottom: 140px;
    }
  }

  & > .p-introduction {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;

    & > .c-1 {
      padding-left: 10 * $padding_factor;
      padding-right: 10 * $padding_factor;
    }

    .title {
      margin-bottom: 30px;
    }

    p {
      font-weight: 300;
      font-size: 13px;
      line-height: 25px;
    }

    .ceo-name b {
      display: block;
    }
  }
}