// Import fonts
@import 'fira_code';

// Global Variables
$spaceFactor: 15px; 
$blueGray: #253544;

// General Styles
h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

li, p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

// Presentation Styles
.presentation {
  font-family: 'Open Sans', sans-serif;
  color: #444;

  & > .row {
    margin-bottom: 0;
  }

  & > .slide > .slide-content {
    padding: (5 * $spaceFactor) (10 * $spaceFactor);

    .title {
      margin-top: 3 * $spaceFactor;
      margin-bottom: 3 * $spaceFactor;
    }
  }

  & > .slide-title {
    color: white;
    text-shadow: 5px 5px 12px rgba(25, 25, 25, 0.8);
    /*background-image: url('../img/block-2-blur-3.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover cover;*/

    .title {
      margin-top: 6 * $spaceFactor !important;

      span {
        display: block;
      }
    }

    .p-arrow-down {
      margin-top: 2 * $spaceFactor;
      font-size: 32px;
    }
  }

  & > .slide-introduction {
    background-color: $blueGray;
    //ackground: linear-gradient(to right, #34495e, #1e2a36);
    color: white;

    .ceo-name b {
      display: block;
    }
  }

  & > .slide-table-of-contents {
    background-color: lighten($blueGray, 5%);
    //ackground: linear-gradient(to right, #34495e, #1e2a36);
    color: white;

  }

  & > .slide-market-in-mexico {
    background-color: lighten($blueGray, 10%);
    //ackground: linear-gradient(to right, #34495e, #1e2a36);
    color: white;

  }
}